h2,p{
    align-self: center;
}

p {
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

a{
    font-weight: bold;
    color:"#646cffaa";
}